body{
	background-color: #fafbfc;
}

.is-family-secondary{
	font-family: 'DM Serif Display', serif !important;
}

.navbar{
	border-bottom: 1px solid #E8E8E8;
}

.footer{
	border-top: 1px solid #E8E8E8;
}

.hero{
	border-radius: 6px;
}

.has-text-primary {
	color: hsl(171, 100%, 41%) !important;
}

.img-radius{
	border-radius: 6px;
}