body{
	background-color: #fafbfc;
}

.is-transparent{
	opacity: 0.8;
}

.is-family-secondary{
	font-family: 'DM Serif Display', serif !important;
}

.navbar{
	border-bottom: 1px solid #E8E8E8;
}

.footer{
	border-top: 1px solid #E8E8E8;
}

.hero{
	border-radius: 6px;
}

.has-text-primary {
	color: #000 !important;
	/* hsl(171, 100%, 41%) */
	font-weight: 600;
}

.img-radius{
	border-radius: 6px;
}

/* Protfolio */
.btc{
	background-color: rgb(255,153,0, 0.2);
}

.eth{
	background-color: rgb(60,60,61, 0.2);
}

.xlm{
	background-color: rgb(4,181,229, 0.2);
}

.vet{
	background-color: rgb(136,130,208, 0.2);
}

.xtz{
	background-color: rgb(44,111,252, 0.2);
}
