<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}{% endblock %}
    </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename ='img/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename ='img/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename ='img/favicon/favicon-16x16.png') }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W5LG8D00T6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-W5LG8D00T6');
    </script>
</head>

<body>
	<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container is-max-desktop">
  		<div class="navbar-brand">
  			<a class="navbar-item" href="{{ '/' }}">
  				<img src="{{ url_for('static', filename = 'img/logo.png') }}" width="112" height="28">
  			</a>

  			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
  				<span aria-hidden="true"></span>
        			<span aria-hidden="true"></span>
        			<span aria-hidden="true"></span>
      		</a>
    		</div>

    		<div id="navbarBasicExample" class="navbar-menu">
      		<div class="navbar-start">
        		<a href="{{ '/exchanges' }}" class="navbar-item">Exchanges</a>
            <a href="{{ '/wallets' }}" class="navbar-item">Wallets</a>
            <a href="{{ '/cards' }}" class="navbar-item">Debit/Credit Cards</a>
            <a href="{{ '/whereToBuy' }}" class="navbar-item">Where to Buy?</a>
          </div>

          <!--
          <div class="navbar-end">
          	<div class="navbar-item">
          		<div class="buttons">
          			<a class="button is-primary">
          				<strong>Sign up</strong>
          			</a>
          			<a class="button is-light">
          				Log in
          			</a>
          		</div>
          	</div>
            -->
          </div>
        </div>
      </div>
	</nav>
	
	{% block content %}
	
	{% endblock %}

  <footer class="footer mt-6">
    <div class="content has-text-centered">
      <p class="is-size-6">
        © Copyright 2021 <strong>chainrate.io</strong> / Contact at <a href="mailto:chainrate@pm.me" class="has-text-primary">chainrate@pm.me</a>
      </p>
      <p class="is-size-7 ">
        <a href="#" alt="Privacy Policy">Privacy Policy</a> / <a href="#" alt="Terms of Service">Terms of Service</a>
      </p>
    </div>
  </footer>

	<script src="{{ url_for('static', filename='bulma.js') }}"></script>
</body>
</html>