{% extends 'base.html' %}

{% block title %}Wallets{% endblock %}

{% block content %}
<div class="container is-max-desktop">
	<div class="columns mt-4">
		<div class="column">
			<h1 class="title is-family-secondary">Cards</h1>
			<p class="has-text-justified">
				In the past, you couldn’t use your crypto assets to fund your day-to-day expenditures, but this is all changing. Bitcoin debit cards help bridge the cryptocurrency world with traditional finances. By loading a debit card with bitcoins or altcoins you will be able to spend them at almost any credit card accepting merchant without them even knowing that you’re paying with a cryptocurrency.
			</p>
			<p>
				If you are a regular traveler or are studying abroad, these prepaid plastic cards can be really handy to convert your BTCs into the required fiat currency without looking out for forex exchanges.
			</p>
			<p>
				In the following table you will find a selection of the best cards you can unse in 2021.
			</p>
		</div>
	</div>

	<section>
		<div class="columns is-centered">
	      	<div class="column is-narrow">
				<table class="table">
				  <thead>
				    <tr>
				      <th><abbr title="Position">Pos</abbr></th>
				      <th>Card</th>
				      <th><abbr title="Type">Type</abbr></th>
				      <th><abbr title="Availability">Availability</abbr></th>
				      <th><abbr title="Fees">Fees</abbr></th>
				      <th><abbr title="Bonus">Cashback</abbr></th>
				      <th><abbr title="Score">Score</abbr></th>
				      <th><abbr title="Link">Link</abbr></th>
				    </tr>
				  </thead>
				  <tfoot>
				    <tr>
				      <th><abbr title="Position">Pos</abbr></th>
				      <th>Card</th>
				      <th><abbr title="Type">Type</abbr></th>
				      <th><abbr title="Availability">Availability</abbr></th>
				      <th><abbr title="Fees">Fees</abbr></th>
				      <th><abbr title="Bonus">Cashback</abbr></th>
				      <th><abbr title="Score">Score</abbr></th>
				      <th><abbr title="Link">Link</abbr></th>
				    </tr>
				  </tfoot>
				  <tbody>
				  	<tr>
				      <th>1</th>
				      <td><a href="https://wirexapp.com/card" class="has-text-primary" title="Wirex Card">Wirex Card</a></td>
				      <td class="has-text-centered">Visa</td>
				      <td class="has-text-centered">EEA</td>
				      <td class="has-text-centered">😃</td>
				      <td class="has-text-centered">0.5%</td>
				      <td>🌟🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://wirexapp.com/card" style="width: 150px" target="_blank" class="button is-small is-primary">
          					<strong>Visit Wirex</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>2</th>
				      <td><a href="https://blockfi.mxuy67.net/aBzKM" target="_blank" class="has-text-primary" title="BlockFi">BlockFi</a></td>
				      <td class="has-text-centered">Visa</td>
				      <td class="has-text-centered">US</td>
				      <td class="has-text-centered">😃</td>
				      <td class="has-text-centered">1.5%</td>
				      <td>🌟🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://blockfi.mxuy67.net/aBzKM" style="width: 150px" class="button is-small is-primary">
          					<strong>Visit BlockFi</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>3</th>
				      <td><a href="https://crypto.com/en/cards.html" target="_blank" class="has-text-primary" title="Crypto.com Card">Crypto.com Card</a></td>
				      <td class="has-text-centered">Visa</td>
				      <td class="has-text-centered">Singapore/US</td>
				      <td class="has-text-centered">😃</td>
				      <td class="has-text-centered">1% to 8%</td>
				      <td>🌟🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://crypto.com/en/cards.html" target="_blank" style="width: 150px" class="button is-small is-primary">
          					<strong>Visit Crypto.com</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>4</th>
				      <td><a href="https://www.bitwala.com/card/" target="_blank" class="has-text-primary" title="Bitwala">Bitwala</a></td>
				      <td class="has-text-centered">Visa</td>
				      <td class="has-text-centered">EEA</td>
				      <td class="has-text-centered">😃</td>
				      <td class="has-text-centered">No</td>
				      <td>🌟🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://www.bitwala.com/card/" style="width: 150px" target="_blank" class="button is-small is-primary">
          					<strong>Visit Bitwala</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>5</th>
				      <td><a href="https://www.coinbase.com/card" target="_blank" class="has-text-primary" title="Coinbase Card">Coinbase Card</a></td>
				      <td class="has-text-centered">Visa</td>
				      <td class="has-text-centered">UK/US/EEA</td>
				      <td class="has-text-centered">🙂</td>
				      <td class="has-text-centered">No</td>
				      <td>🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://www.coinbase.com/card" style="width: 150px" target="_blank" class="button is-small is-primary">
          					<strong>Visit Coinbase</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>6</th>
				      <td><a href="https://cryptopay.me/bitcoin-debit-card/" target="_blank" class="has-text-primary" title="Cryptopay Card">Cryptopay</a></td>
				      <td class="has-text-centered">Visa</td>
				      <td class="has-text-centered">EEA</td>
				      <td class="has-text-centered">🙂</td>
				      <td class="has-text-centered">No</td>
				      <td>🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://cryptopay.me/bitcoin-debit-card/" style="width: 150px" target="_blank" class="button is-small is-primary">
          					<strong>Visit Cryptopay</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>7</th>
				      <td><a href="https://nexo.io/?u=6012ee8d83a4cd7df37d0bc3" target="_blank" class="has-text-primary" title="Nexo Card">Nexo Card</a></td>
				      <td class="has-text-centered">Mastercard</td>
				      <td class="has-text-centered"><a href="https://support.nexo.io/hc/en-us/articles/360008237053-In-which-countries-is-your-product-available-" target="_blank">Check List</a></td>
				      <td class="has-text-centered">😐</td>
				      <td class="has-text-centered">2%</td>
				      <td>🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://nexo.io/?u=6012ee8d83a4cd7df37d0bc3" style="width: 150px" target="_blank" class="button is-small is-primary">
          					<strong>Visit Nexo</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>8</th>
				      <td><a href="https://bitpay.com/" target="_blank" class="has-text-primary" title="Bitpay">Bitpay</a></td>
				      <td class="has-text-centered">Mastercard</td>
				      <td class="has-text-centered">US</td>
				      <td class="has-text-centered">🙂</td>
				      <td class="has-text-centered">No</td>
				      <td>🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://bitpay.com/" style="width: 150px" target="_blank" class="button is-small is-primary">
          					<strong>Visit Bitpay</strong>
          				</a>
				      </td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
	</section>

	<div class="has-text-centered mt-4">
		<p class="is-size-7 ">
			<strong>chainrate.io</strong> is a comparison service and can be compensated for your clicking on links posted on this website.
		</p>
		<p class="is-size-7">
			<strong>chainrate.io</strong> does not include all companies or avaliable products.
		</p>
	</div>
</div>
{% endblock %}