{% extends 'base.html' %}

{% block title %}Wallets{% endblock %}

{% block content %}
<div class="container is-max-desktop">
	<div class="columns mt-4">
		<div class="column">
			<h1 class="title is-family-secondary">Exchanges</h1>
			<p class="has-text-justified">
				Getting into trading and investing in Bitcoin or other cryptocurrencies can be intimidating at first. There are stories constantly about scams and people losing money. While a few scams and thieves still float around the web, it has never been so simple to invest in and safely trade in cryptocurrency as it is today.
			</p>
			<p class="has-text-justified">
				Your first concern when you start to trade and invest in a cryptocurrency, is safety and security. The following exchanges will suit any use case. However, if you are planning to store large amounts of crypto or hold your assets long term, you should consider storing your coins in a <a href="{{ '/wallets' }}">hardware wallet</a> instead of keeping them in your exchange.
			</p>
		</div>
	</div>

	<section>
		<div class="columns is-centered">
	      	<div class="column is-narrow">
				<table class="table">
				  <thead>
				    <tr>
				      <th><abbr title="Position">Pos</abbr></th>
				      <th>Exchange</th>
				      <th><abbr title="Markets">Markets</abbr></th>
				      <th><abbr title="Coins">Coins</abbr></th>
				      <th><abbr title="Fiat Supported">Fiat Supported</abbr></th>
				      <th><abbr title="Score">Score</abbr></th>
				      <th><abbr title="Link">Link</abbr></th>
				    </tr>
				  </thead>
				  <tfoot>
				    <tr>
				      <th><abbr title="Position">Pos</abbr></th>
				      <th>Exchange</th>
				      <th><abbr title="Markets">Markets</abbr></th>
				      <th><abbr title="Coins">Coins</abbr></th>
				      <th><abbr title="Fiat Supported">Fiat Supported</abbr></th>
				      <th><abbr title="Score">Score</abbr></th>
				      <th><abbr title="Link">Link</abbr></th>
				    </tr>
				  </tfoot>
				  <tbody>
				  	<tr>
				      <th>1</th>
				      <td><a href="https://www.binance.com/en" class="has-text-primary" title="Binance">Binance</a></td>
				      <td class="has-text-centered">1041</td>
				      <td class="has-text-centered">328</td>
				      <td class="has-text-centered">USD,EUR,GBP...</td>
				      <td>🌟🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://www.binance.com/en" style="width: 150px" target="_blank" class="button is-small is-primary">
          					<strong>Visit Binance</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>2</th>
				      <td><a href="https://pro.coinbase.com/" target="_blank" class="has-text-primary" title="Coinbase Pro">Coinbase Pro</a></td>
				      <td class="has-text-centered">129</td>
				      <td class="has-text-centered">46</td>
				      <td class="has-text-centered">USD,EUR,GBP</td>
				      <td>🌟🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://pro.coinbase.com/" style="width: 150px" class="button is-small is-primary">
          					<strong>Visit Coinbase Pro</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>3</th>
				      <td><a href="https://r.kraken.com/JgE1r" target="_blank" class="has-text-primary" title="Kraken">Kraken</a></td>
				      <td class="has-text-centered">243</td>
				      <td class="has-text-centered">60</td>
				      <td class="has-text-centered">USD,EUR,GBP...</td>
				      <td>🌟🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://r.kraken.com/JgE1r" target="_blank" style="width: 150px" class="button is-small is-primary">
          					<strong>Visit Kraken</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>4</th>
				      <td><a href="https://www.bitfinex.com/" target="_blank" class="has-text-primary" title="Bitfinex">Bitfinex</a></td>
				      <td class="has-text-centered">268</td>
				      <td class="has-text-centered">142</td>
				      <td class="has-text-centered">USD,EUR,GBP...</td>
				      <td>🌟🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://www.bitfinex.com/" style="width: 150px" target="_blank" class="button is-small is-primary">
          					<strong>Visit Bitfinex</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>5</th>
				      <td><a href="https://www.bitstamp.net/" target="_blank" class="has-text-primary" title="Bitstamp">Bitstamp</a></td>
				      <td class="has-text-centered">42</td>
				      <td class="has-text-centered">13</td>
				      <td class="has-text-centered">USD,EUR,GBP</td>
				      <td>🌟🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://www.bitstamp.net/" style="width: 150px" target="_blank" class="button is-small is-primary">
          					<strong>Visit Bitstamp</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>6</th>
				      <td><a href="https://www.kucoin.com/" target="_blank" class="has-text-primary" title="KuCoin">KuCoin</a></td>
				      <td class="has-text-centered">564</td>
				      <td class="has-text-centered">260</td>
				      <td class="has-text-centered">TOKEN</td>
				      <td>🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://www.kucoin.com/" style="width: 150px" target="_blank" class="button is-small is-primary">
          					<strong>Visit KuCoin</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>7</th>
				      <td><a href="https://crypto.com/en/index.html" target="_blank" class="has-text-primary" title="Crypto.com">Crypto.com</a></td>
				      <td class="has-text-centered">98</td>
				      <td class="has-text-centered">41</td>
				      <td class="has-text-centered">-</td>
				      <td>🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://crypto.com/en/index.html" style="width: 150px" target="_blank" class="button is-small is-primary">
          					<strong>Visit Crypto.com</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>8</th>
				      <td><a href="#" target="_blank" class="has-text-primary" title="etoro">etoro</a></td>
				      <td class="has-text-centered">19</td>
				      <td class="has-text-centered">19</td>
				      <td class="has-text-centered">USD,EUR,GBP</td>
				      <td>🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://www.etoro.com/" style="width: 150px" target="_blank" class="button is-small is-primary">
          					<strong>Visit etoro</strong>
          				</a>
				      </td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
	</section>

	<div class="has-text-centered mt-4">
		<p class="is-size-7 ">
			<strong>chainrate.io</strong> is a comparison service and can be compensated for your clicking on links posted on this website.
		</p>
		<p class="is-size-7">
			<strong>chainrate.io</strong> does not include all companies or avaliable products.
		</p>
	</div>
</div>

{% endblock %}