{% extends 'base.html' %}

{% block title %}Wallets{% endblock %}

{% block content %}
<div class="container is-max-desktop">
	<div class="columns mt-4">
		<div class="column">
			<h1 class="title is-family-secondary">Wallets</h1>
			<p class="has-text-justified">
				Keeping your digital currency on an exchange is probably the most convenient storage method, however, it is not the safest one. If you plan to keep your assets long term or buy large amounts of cryptocurrency, you will require some type of online or hardware wallet.
			</p>
			<p class="has-text-justified">
				Wallets come in two forms — hot and cold. Hot wallets are software that stays connected to the internet. It is more convenient to transact via a hot wallet, but they are more susceptible to being attacked.
			</p>
			<p class="has-text-justified">
				Cold storage refers to any cryptocurrency wallet that is not connected to the internet in a cold storage device. However online wallets are potentially more user-friendly for crypto newbies. Choosing the wallet that best suits your needs can be overwhelming at first, that is why we have selected eight of the best wallets that we have tried.
			</p>
		</div>
	</div>

	<section>
		<div class="columns is-centered">
	      	<div class="column is-narrow">
				<table class="table">
				  <thead>
				    <tr>
				      <th><abbr title="Position">Pos</abbr></th>
				      <th>Wallet</th>
				      <th><abbr title="Type">Type</abbr></th>
				      <th><abbr title="UserFriendly">Beginner-Friendly</abbr></th>
				      <th><abbr title="Price">Price</abbr></th>
				      <th><abbr title="Compatible with hardware Wallets">HW Compatible</abbr></th>
				      <th><abbr title="Score">Score</abbr></th>
				      <th><abbr title="Link">Link</abbr></th>
				    </tr>
				  </thead>
				  <tfoot>
				    <tr>
				      <th><abbr title="Position">Pos</abbr></th>
				      <th>Wallet</th>
				      <th><abbr title="Type">Type</abbr></th>
				      <th><abbr title="UserFriendly">Beginner-Friendly</abbr></th>
				      <th><abbr title="Price">Price</abbr></th>
				      <th><abbr title="Compatible with hardware Wallets">HW Compatible</abbr></th>
				      <th><abbr title="Score">Score</abbr></th>
				      <th><abbr title="Link">Link</abbr></th>
				    </tr>
				  </tfoot>
				  <tbody>
				    <tr>
				      <th>1</th>
				      <td><a href="https://shop.ledger.com/pages/ledger-nano-x?r=2a078fedc641" target="_blank" class="has-text-primary" title="Ledger Nano X"><strong>Ledger Nano X</strong></a></td>
				      <td class="has-text-centered">Cold</td>
				      <td class="has-text-centered">😃</td>
				      <td class="has-text-centered">$119</td>
				      <td class="has-text-centered">Yes</td>
				      <td>🌟🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://shop.ledger.com/pages/ledger-nano-x?r=2a078fedc641" target="_blank" style="width: 150px" class="button is-small is-primary">
          					<strong>Visit Ledger</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>2</th>
				      <td><a href="https://shop.trezor.io/product/trezor-model-t?offer_id=15&aff_id=6366" class="has-text-primary" title="Trezor Model T"><strong>Trezor Model T</strong></a></td>
				      <td class="has-text-centered">Cold</td>
				      <td class="has-text-centered">😃</td>
				      <td class="has-text-centered">$169</td>
				      <td class="has-text-centered">Yes</td>
				      <td>🌟🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://shop.trezor.io/product/trezor-model-t?offer_id=15&aff_id=6366" target="_blank" style="width: 150px" class="button is-small is-primary">
          					<strong>Visit Trezor</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>3</th>
				      <td><a href="https://lddy.no/u8f2" target="_blank" class="has-text-primary" title="Keep Key"><strong>Keep Key</strong></a></td>
				      <td class="has-text-centered">Cold</td>
				      <td class="has-text-centered">😃</td>
				      <td class="has-text-centered">$79</td>
				      <td class="has-text-centered">Yes</td>
				      <td>🌟🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://lddy.no/u8f2" style="width: 150px" target="_blank" class="button is-small is-primary">
          					<strong>Visit Keep Key</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>4</th>
				      <td><a href="https://shop.ledger.com/pages/ledger-nano-x?r=2a078fedc641" target="_blank" class="has-text-primary" title="Ledger Nano S"><strong>Ledger Nano S</strong></a></td>
				      <td class="has-text-centered">Cold</td>
				      <td class="has-text-centered">🙂</td>
				      <td class="has-text-centered">$59</td>
				      <td class="has-text-centered">Yes</td>
				      <td>🌟🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://shop.ledger.com/pages/ledger-nano-x?r=2a078fedc641" target="_blank" style="width: 150px" class="button is-small is-primary">
          					<strong>Visit Ledger</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>5</th>
				      <td><a href="https://shop.trezor.io/product/trezor-one-black?offer_id=35&aff_id=6366" target="_blank" class="has-text-primary" title="Trezor One"><strong>Trezor One</strong></a></td>
				      <td class="has-text-centered">Cold</td>
				      <td class="has-text-centered">🙂</td>
				      <td class="has-text-centered">$59</td>
				      <td class="has-text-centered">Yes</td>
				      <td>🌟🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://shop.trezor.io/product/trezor-one-black?offer_id=35&aff_id=6366" target="_blank" style="width: 150px" class="button is-small is-primary">
          					<strong>Visit Trezor</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>6</th>
				      <td><a href="https://www.exodus.io" target="_blank" class="has-text-primary" title="Exodus"><strong>Exodus</strong></a></td>
				      <td class="has-text-centered">Hot</td>
				      <td class="has-text-centered">😃</td>
				      <td class="has-text-centered">$0</td>
				      <td class="has-text-centered">Yes</td>
				      <td>🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://www.exodus.io" target="_blank" style="width: 150px" class="button is-small is-primary">
          					<strong>Visit Exodus</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>7</th>
				      <td><a href="https://electrum.org/#home" target="_blank" class="has-text-primary" title="Electrum"><strong>Electrum</strong></a></td>
				      <td class="has-text-centered">Hot</td>
				      <td class="has-text-centered">😐</td>
				      <td class="has-text-centered">$0</td>
				      <td class="has-text-centered">Yes</td>
				      <td>🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://electrum.org/#home" target="_blank" style="width: 150px" class="button is-small is-primary">
          					<strong>Visit Electrum</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>8</th>
				      <td><a href="https://www.blockchain.com/wallet?utm_campaign=dcomnav_wallet" target="_blank" class="has-text-primary" title="Blockchain.com"><strong>Blockchain.com</strong></a></td>
				      <td class="has-text-centered">Hot</td>
				      <td class="has-text-centered">😃</td>
				      <td class="has-text-centered">$0</td>
				      <td class="has-text-centered">Yes</td>
				      <td>🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://www.blockchain.com/wallet?utm_campaign=dcomnav_wallet" target="_blank" style="width: 150px" class="button is-small is-primary">
          					<strong>Visit Blockchain.com</strong>
          				</a>
				      </td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
	</section>	

	<div class="has-text-centered mt-4">
		<p class="is-size-7 ">
			<strong>chainrate.io</strong> is a comparison service and can be compensated for your clicking on links posted on this website.
		</p>
		<p class="is-size-7">
			<strong>chainrate.io</strong> does not include all companies or avaliable products.
		</p>
	</div>
</div>
{% endblock %}