{% extends 'base.html' %}

{% block title %}Where to Buy{% endblock %}

{% block content %}
<div class="container is-max-desktop">
	<div class="columns mt-4">
		<div class="column">
			<h1 class="title is-family-secondary">Where to Buy?</h1>
			<p class="has-text-justified">
				It has never been easier to purchase Bitcoin or any other cryprocurrency than it is today. Keep in mind though, that investing in cryptocurrency is risky and that you shouldn't invest more than what you can afford to lose.
			</p>
			<p>
				If you want to own bitcoin as quickly as possible, already have a <a href="{{ '/wallets' }}">bitcoin wallet</a> and don't mind the fees, many platforms allow you to buy coins with your debit or credit card. However, if you want to purchase large amounts of coins with no fees, a wire transfer to your <a href="{{ '/exchanges' }}">exchange</a> is the best option.
			</p>
		</div>
	</div>

	<section>
		<div class="columns is-centered">
	      	<div class="column is-narrow">
				<table class="table">
				  <thead>
				    <tr>
				      <th><abbr title="Position">Pos</abbr></th>
				      <th><abbr title="Platform">Platform</abbr></th>
				      <th><abbr title="Payment Method">Payment Method</abbr></th>
				      <th><abbr title="Fees">Fees</abbr></th>
				      <th><abbr title="Requirements">Requirements</abbr></th>
				      <th><abbr title="Score">Score</abbr></th>
				      <th><abbr title="Link">Link</abbr></th>
				    </tr>
				  </thead>
				  <tfoot>
				    <tr>
				      <th><abbr title="Position">Pos</abbr></th>
				      <th><abbr title="Platform">Platform</abbr></th>
				      <th><abbr title="Payment Method">Payment Method</abbr></th>
				      <th><abbr title="Fees">Fees</abbr></th>
				      <th><abbr title="Requirements">Requirements</abbr></th>
				      <th><abbr title="Score">Score</abbr></th>
				      <th><abbr title="Link">Link</abbr></th>
				    </tr>
				  </tfoot>
				  <tbody>
				  	<tr>
				      <th>1</th>
				      <td><a href="https://r.kraken.com/JgE1r" target="_blank" class="has-text-primary" title="Kraken">Kraken</a></td>
				      <td class="has-text-centered">Card / Wire Transfer</td>
				      <td class="has-text-centered">😃</td>
				      <td class="has-text-centered">Account</td>
				      <td>🌟🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://r.kraken.com/JgE1r" target="_blank" style="width: 150px" class="button is-small is-primary">
          					<strong>Visit Kraken</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>2</th>
				      <td><a href="https://pro.coinbase.com/" target="_blank" class="has-text-primary" title="Coinbase Pro">Coinbase Pro</a></td>
				      <td class="has-text-centered">Card / Wire Transfer</td>
				      <td class="has-text-centered">😃</td>
				      <td class="has-text-centered">Account</td>
				      <td>🌟🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://pro.coinbase.com/" target="_blank" style="width: 150px" class="button is-small is-primary">
          					<strong>Visit Coinbase</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>3</th>
				      <td><a href="https://www.binance.com/en" target="_blank" class="has-text-primary" title="Binance">Binance</a></td>
				      <td class="has-text-centered">Card / Wire Transfer</td>
				      <td class="has-text-centered">😃</td>
				      <td class="has-text-centered">Account</td>
				      <td>🌟🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://www.binance.com/en" target="_blank" style="width: 150px" class="button is-small is-primary">
          					<strong>Visit Binance</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>4</th>
				      <td><a href="https://paxful.com?r=onxQZAwLLkZ" target="_blank" class="has-text-primary" title="Paxful">Paxful</a></td>
				      <td class="has-text-centered">Card / Wire Transfer</td>
				      <td class="has-text-centered">🙂</td>
				      <td class="has-text-centered">Account</td>
				      <td>🌟🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://paxful.com?r=onxQZAwLLkZ" target="_blank" style="width: 150px" class="button is-small is-primary">
          					<strong>Visit Paxful</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>5</th>
				      <td><a href="https://shop.ledger.com/pages/ledger-nano-x?r=2a078fedc642" target="_blank" class="has-text-primary" title="Ledger Live">Ledger Live</a></td>
				      <td class="has-text-centered">Card / Wire Transfer</td>
				      <td class="has-text-centered">🙂</td>
				      <td class="has-text-centered">Ledger Wallet</td>
				      <td>🌟🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://shop.ledger.com/pages/ledger-nano-x?r=2a078fedc642" target="_blank" style="width: 150px" class="button is-small is-primary">
          					<strong>Visit Ledger</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>6</th>
				      <td><a href="https://fwd.cx/rjyE95CJDQhl" target="_blank" class="has-text-primary" title="Coinmama">Coinmama</a></td>
				      <td class="has-text-centered">Card / Wire Transfer</td>
				      <td class="has-text-centered">🙂</td>
				      <td class="has-text-centered">Account</td>
				      <td>🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://fwd.cx/rjyE95CJDQhl" target="_blank" style="width: 150px" class="button is-small is-primary">
          					<strong>Visit Coinmama</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>7</th>
				      <td><a href="https://changelly.com?from=btc&to=eth&amount=0.1&ref_id=stvsaxrs3ayslpnr" target="_blank" class="has-text-primary" title="Changelly">Changelly</a></td>
				      <td class="has-text-centered">Card / Wire Transfer</td>
				      <td class="has-text-centered">🙂</td>
				      <td class="has-text-centered">Account</td>
				      <td>🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://changelly.com?from=btc&to=eth&amount=0.1&ref_id=stvsaxrs3ayslpnr" target="_blank" style="width: 150px" class="button is-small is-primary">
          					<strong>Visit Changelly</strong>
          				</a>
				      </td>
				    </tr>
				    <tr>
				      <th>8</th>
				      <td><a href="https://www.xcoins.com/2020/r.php?id=1605" target="_blank" class="has-text-primary" title="XCoins">XCoins</a></td>
				      <td class="has-text-centered">Card / Wire Transfer</td>
				      <td class="has-text-centered">😐</td>
				      <td class="has-text-centered">Account</td>
				      <td>🌟🌟🌟🌟</td>
				      <td class="has-text-centered">
				      	<a href="https://www.xcoins.com/2020/r.php?id=1605" target="_blank" style="width: 150px" class="button is-small is-primary">
          					<strong>Visit XCoins</strong>
          				</a>
				      </td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
	</section>	

	<div class="has-text-centered mt-4">
		<p class="is-size-7 ">
			<strong>chainrate.io</strong> is a comparison service and can be compensated for your clicking on links posted on this website.
		</p>
		<p class="is-size-7">
			<strong>chainrate.io</strong> does not include all companies or avaliable products.
		</p>
	</div>
</div>
{% endblock %}